:root {
  --background1: #264653ff;
  --background2: #2a9d8fff;
  --background3: #e9c46aff;
  --secondary1: #f4a261ff;
  --secondary2: #e76f51ff;
  --highlight: #219ebc;
}

main {
    background-color: var(--background2);
}

.me {
  font-size: 50px;
  text-align: left;
  padding: 10%;
}

@media screen and (max-width: 750px) {
    .info {
        padding-top: 100px;
    }
}

p {
  color: black;
}